* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

nav {
  margin: 0 auto;
  background-color: #000000;
  height: 120px;
  max-width: 1366px;
  color: #fbf7ea;

  ul {
    list-style-type: none;
    display: flex;
  }

  ul :nth-child(1) {
    margin-left: 20px;
    margin-top: 2.5rem;
  }

  ul :nth-child(2) {
    margin-left: 1px;
    margin-top: 2.5rem;
  }

  ul :nth-child(3) {
    margin-left: 1px;
    margin-top: 2.5rem;
  }

  ul :nth-child(4) {
    margin-left: auto;
    font-weight: bold;
  }

  ul :nth-child(5) {
    margin-left: auto;
    margin-right: 70px;
    margin-top: 0.4rem;
  }

  a {
    color: #cecece;
  }

  a:hover {
    color: #fff3c7;
    border-bottom: #fff3c7 2px solid;
  }
}

#header {
  display: flex;
  flex-direction: column;
  background-image: url(/assets/img/Placement\ Area\ [ASSEThero][SIZEDefault][STATEDEFAULT].png);
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
  height: 648px;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 56px;
    color: #fff3c7;
  }

  p {
    margin-top: 12px;
    font-size: 16px;
    color: #fbf7ea;
  }

  a {
    margin-top: 24px;
    width: 200px;
    padding: 13px 59px;
    background-color: #fff3c7;
    border-radius: 50px;
    color: #000000;
  }

  a:hover {
    background-color: #f0e4bc;
  }
}

#high {
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  height: 826px;
  margin: 0 auto;
  background-color: black;

  article {
    color: #fbf7ea;
    text-align: center;

    h2 {
      font-size: 48px;
      padding-top: 73px;
    }

    p {
      font-size: 16px;
      padding-top: 21px;
    }
  }

  div {
    margin-top: 72px;
    text-align: center;

    img {
      width: 100%;
      max-height: 448px;
    }
    h3 {
      margin-top: 13px;
      font-size: 24px;
      color: #fbf7ea;
    }
    a {
      color: #fff3c7;
    }
    a:hover {
      border-bottom: #fff3c7 solid 2px;
    }
  }

  section {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}

#products {
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  background-color: #fbf7ea;
  max-width: 1366px;
  height: 803px;

  article {
    text-align: center;
  }

  h2 {
    padding-top: 73px;
    font-size: 48px;
  }

  p {
    margin-top: 21px;
    font-size: 16px;
  }

  section {
    display: flex;
    margin-top: 72px;
    gap: 24px;
    justify-content: center;
  }

  a {
    width: 200px;
    margin-top: 63px;
    border-radius: 50px;
    color: #ffffff;
    padding: 13px 31px;
    background-color: #3d755a;
  }

  a:hover {
    background-color: #397056;
  }
}

#inspire {
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  background-image: url(/assets/img/back.png);
  max-width: 1374px;
  height: 600px;

  h2 {
    font-size: 48px;
    color: #fbf7ea;
  }

  p {
    margin-top: 13px;
    font-size: 18px;
    color: #fbf7ea;
  }

  a {
    margin-top: 24px;
    border-radius: 50px;
    padding: 13px 59px;
    background-color: #fff3c7;
    width: 200px;
    color: #000000;
  }
}
